* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detailsItem {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

.detailsItem .containerLeft {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.detailsItem .containerLeft .cardImg {
    display: flex;
    justify-content: center;
    
}

.detailsItem .containerLeft Img{
    width: 100%;
}

.detailsItem .containerRight {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 600px;
}

.detailsItem .containerRight .descriptionItem {
    display: flex;
    flex-direction: column;

}

.detailsItem .containerRight .cardDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 450px
    
}

.detailsItem .containerRight .cardDescription .title {
    font-size: 45px;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .description .descriptionTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .description .parrafo {
    font-size: 18px;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .cant{
    font-size: 18px;
    margin: 10px 0;
}

.detailsItem .containerRight .buttonsDetails .addCantCart span {
    font-weight: 20px;
    margin: 0 10px;
}

.detailsItem .containerRight .buttonsDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}